@font-face {
  font-family: alarm;
  src: url('fonts/Segment7Standard.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  /* background-color: #bbddbb; */
  background-color: #000000;
}

.main-container {
  /* background-color: #ffffff33; */
  position: relative;
  height: 100vh;
  width: 54.3vh;
  margin: auto;
}

.height-container {
  padding-bottom: 184%;
}

#graphic-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#graphic-container img {
  width: 100%;
}

.display-area {
  /* background-color: #ff333333; */
  position: absolute;
  margin-top: 48%;
  margin-left: 15%;
  width: 70%;
  height: 45%;
}

#symbol {
  /* background-color: #ffff3333; */
  height: 7%;
  margin-top: 16%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: calc(3vh);
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  text-align: center;
  color: #7d7855;
}

#meridiem {
  /* background-color: #7722dd33; */
  height: 5%;
  margin-left: 14%;
  margin-right: 10%;
  color: #7d7855;
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: calc(1.7vh);
}

#display {
  /* background-color: #ff33ff33; */
  height: 14%;
  margin-left: 10%;
  margin-right: 13%;
  font-family: 'alarm';
  font-size: calc(6vh);
  text-align: right;
  color: #7d7855;
}

.buttons {
  /* background-color: #ff33ff33; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 12%;
  width: 100%;
  height: 46%;
}

.buttons:hover {
  cursor: pointer;
}

.button {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 700px) {
  /* body {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  .main-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: unset;
  }
  #display {
    font-size: calc(8.9vw);
  }
  #symbol {
    font-size: calc(4.5vw);
  }
  #meridiem {
    font-size: calc(2.5vw);
  }
}
