@font-face {
  font-family: alarm;
  src: url('fonts/Segment7Standard.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  position: relative;
  height: 80vh;
  width: 43.7vh;
  margin: auto;
}

.height-container {
  padding-bottom: 183%;
}

#graphic-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#graphic-container img {
  width: 100%;
}

.display-area {
  position: absolute;
  margin-top: 48%;
  margin-left: 15%;
  width: 70%;
  height: 45%;
}

#symbol {
  height: 7%;
  margin-top: 16%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: calc(2.5vh);
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  text-align: center;
  color: #7d7855;
}

#meridiem {
  height: 5%;
  margin-left: 14%;
  margin-right: 10%;
  color: #7d7855;
  font-size: calc(1.3vh);
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
}

#display {
  height: 14%;
  margin-left: 10%;
  margin-right: 13%;
  color: #7d7855;
  font-size: calc(4.8vh);
  font-family: 'alarm';
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 12%;
  width: 100%;
  height: 46%;
}

.buttons:hover {
  cursor: pointer;
}

.button {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 700px) {
  .main-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: unset;
  }
  #display {
    font-size: calc(8.9vw);
  }
  #symbol {
    font-size: calc(4.5vw);
  }
  #meridiem {
    font-size: calc(2.5vw);
  }
}
